@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- From Uiverse.io by alexruix -->
<link href="~/css/login.css" rel="stylesheet" />
<style>
    .centrar{
        text-align:center;
    }
    .color{
        background-color:gray;
        text-align: center;
    }
</style>
<div class="color">
    <h1>Bienvenido a el login</h1>
<div class="form-box">
    <form class="form">
        <span class="title">Inicio sesion</span>
        <span class="subtitle">Inicia Sesion con tu usuario.</span>
        <div class="form-container">
            <input type="text" class="input" placeholder="Usuario">
            <input type="password" class="input" placeholder="Contraseña">
        </div>
        <button>Inicia Sesion</button>
    </form>
    <div class="form-section">
        <p>No tienes una cuenta? <a href="">Creala</a> </p>
    </div>
</div>
</div>