@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    fondo {
        width: 100%;
        height: 400px;
        background-image: url('ruta/a/tu/imagen.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<div>
    <h1>Bienvenido a Gastroworld</h1>
    <p>
        En este pequeño espacio en la wed, vas a poder compartir tú amor y pasion por la gastronomia con
        otras personas que comparten tus mismos gustos.
    </p>
    <div>
        <img src="~/imagenes/1097602.jpg" />
    </div>
        <h2>zona social</h2>
        <p>
            En este espacio, tendrás la oportunidad de compartir tus experiencias, recetas, platillos y
            lugares favoritos con los demás miembros de la comunidad.
            Además, podrás intercambiar consejos sobre ingredientes, técnicas, La idea es fomentar un ambiente colaborativo donde
            todos puedan aprender unos de otros, inspirarse y disfrutar de la diversidad culinaria que cada uno aporta.
            ¡Anímate a participar y enriquecer nuestra comunidad con tus aportes!
        </p>
        <div>
            <span
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Zonasocial" asp-action="Zonasocial">Zona Social</a>
            </li>
            </span>
        </div>
        <h2>Repositorio</h2>
        <p>Encuentra una variada cantidad de informacion relacionada a la gastronomia, tambien restaurantes recomendados  </p>
        <p><a>Learn more &raquo;</a></p>
</div>
