@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- From Uiverse.io by Yaya12085 -->

<link rel="stylesheet" href="~/css/aboutus.css">


<div class="containerus">
    <div class="card">
        <div class="image"></div>
        <div class="content">
            <h1>
                <span class="title">
                    Una tajada de Gastroworld
                </span>
            </h1>

            <p class="desc">
                GastroWord es una plataforma digital que organiza y facilita el acceso a información sobre gastronomía,
                nutrición y cocina. Ofrece recetas accesibles, consejos de compra y técnicas básicas para que cualquier persona,
                sin importar su experiencia, pueda mejorar su alimentación de manera saludable y económica autosustentable
                Nuestro Equipo • Juan Sebastián Sánchez, Diego Moreno y Víctor Díaz: Programadores junior apasionados por
                la tecnología y la gastronomía, trabajan en el desarrollo de GastroWord para hacerla intuitiva, accesible y
                funcional para todos.
            </p>

            <a class="action" href=" c:\users\usuario\downloads\gastroworldcon\gastroworld\gastroworld\views\pgprincipal\cargarview.cshtml">
                Vamos al inicio
                <span aria-hidden="true">
                    →
                </span>
            </a>
        </div>
    </div>
</div>