@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .fonodo{
        background-image: url('c:\users\ades1\source\repos\gastroworld\gastroworld\imagenes\mesa-de-comida.jpg');
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<h1 style="font-size: 100px;" class="animate__animated animate__bounce">
    ¿QUIENES <br>SOMOS? <br>
</h1>
<p>
    GastroWord es una plataforma digital que organiza y facilita el acceso a información sobre gastronomía, 
    nutrición y cocina. Ofrece recetas accesibles, consejos de compra y técnicas básicas para que cualquier persona, 
    sin importar su experiencia, pueda mejorar su alimentación de manera saludable y económica autosustentable
    Nuestro Equipo • Juan Sebastián Sánchez, Diego Moreno y Víctor Díaz: Programadores junior apasionados por 
    la tecnología y la gastronomía, trabajan en el desarrollo de GastroWord para hacerla intuitiva, accesible y 
    funcional para todos.
</p>
