@import url(https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400&display=swap);

@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ededed;
    min-width: 320px;
    font-family: "Baloo Bhai 2";
}

.profile-card {
    max-width: 400px;
    background-color: #fff;
    width: 100%;
    display: grid;
    border-radius: 10px;
    overflow: hidden;
}

.skeleton {
    background-color: #e0e0e0;
    background-image: linear-gradient(90deg, #e0e0e0 0%, #cecece 50%, #e0e0e0 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

.cover-wrapper {
    height: 210px;
    position: relative;
    border-radius: 0 0 20% 20%;
    overflow: hidden;
}

.profile-card img {
    width: 100%;
    height: 100%;
}

.cover-wrapper img {
    object-fit: cover;
}

.avatar-wrapper {
    height: 150px;
    width: 150px;
    margin: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 4px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px #00000038;
    margin-bottom: -75px;
    overflow: hidden;
}

    .avatar-wrapper img {
        object-fit: contain;
        border-radius: 50%;
    }

.profile-details {
    text-align: center;
    line-height: 1.4;
}

.user-name {
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
}

    .user-name.skeleton {
        width: 30%;
        height: 25px;
        margin: 10px auto;
        border-radius: 5px;
    }

.user-title {
    color: #e20909;
}

    .user-title.skeleton {
        width: 50%;
        height: 15px;
        margin: 10px auto;
        border-radius: 5px;
    }

.separator {
    background: linear-gradient(273deg, white, #215eae, white);
    width: 70%;
    height: 1px;
    margin: 10px auto 20px;
}

.loading a,
.loading .separator {
    visibility: hidden;
    opacity: 0;
}

.user-about {
    font-size: 14px;
    padding: 0 15px;
    margin-top: 10px;
}

    .user-about.skeleton {
        width: 90%;
        height: 50px;
        margin: 10px auto;
        border-radius: 2px
    }

.social-handles-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 15px 0;
}

    .social-handles-wrapper.skeleton {
        width: 50%;
        height: 30px;
        margin: 10px auto;
        border-radius: 5px
    }

.icon {
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    font-size: 15px;
}

    .icon:hover {
        filter: brightness(0.9);
    }

    .icon::before {
        vertical-align: middle;
    }

.bi-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.bi-facebook {
    background: #215eae;
}

.bi-twitter-x {
    background: black;
}

.bi-youtube {
    background: #FF0000;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}
