.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 420px;
}

.card-wrapper {
    display: flex;
    gap:10px;
    width: 600px;
    height: 500px;
    font-family: 'Calibri';
}

.card {
    flex: 1;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    transition: flex .3s;
    border: 1px solid #ffffff63;
}

    .card:hover {
        flex: 5;
    }

        .card:hover .text-wrapper {
            transform: translateY(0);
        }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.text-wrapper {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 15px;
    text-align: justify;
    transform: translateY(100%);
    transition: transform .4s ease-in-out;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.538) 20%, black 70%);
}

    .text-wrapper a {
        text-decoration: none;
        color: white;
    }

        .text-wrapper a:hover {
            text-decoration: underline;
        }

    .text-wrapper h3 {
        margin-bottom: 10px;
    }

    .text-wrapper span {
        color: rgb(212, 212, 212);
        font-size: 12px;
    }
