@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/pfusuarios.css" rel="stylesheet" />
<script src="~/js/perfil.js"></script>
<style>
    .container {
        max-width: 1200px; /* Establece un ancho máximo para el contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 0 20px; /* Agrega un margen a los lados */
        background-color: white;
    }
</style>
<div class="container">
<div class="profile-card loading">
    <div class="cover-wrapper skeleton"></div>
    <div class="avatar-wrapper skeleton"></div>
    <div class="profile-details">
        <p class="user-name skeleton"></p>
        <p class="user-title skeleton"></p>
        <div class="separator"></div>
        <p class="user-about skeleton"></p>
    </div>
    <div class="social-handles-wrapper skeleton">
        <a href="#" class="icon bi bi-instagram"></a>
        <a href="#" class="icon bi bi-twitter-x"></a>
        <a href="#" class="icon bi bi-facebook"></a>
        <a href="#" class="icon bi bi-youtube"></a>
    </div>
</div>
</div>